body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
}

.container-fluid img {
  width: 100%;
  height: auto;
}

::selection {
  background-color: #efefef;
  color: #00c3ff;
}

.navbar.fixed-left {
  position: fixed;
  top: 320px;
  left: 0;
  transform: translateY(-70px);
  z-index: 1;
  font-size: 0.9rem;
  font-family: Helvetica, Arial, sans-serif;
}

.navbar-nav .nav-item .nav-link {
  padding: 1px 9px;
}

.navbar-custom {
  margin-left: 250px;
}

.navbar-nav .nav-item:first-child .nav-link {
  font-size: 0.6rem;
}

/*
.nav-link:hover {
  font-size: 50px;
  line-height: 1.2;
  animation: easeInBounce 0.9s forwards;
}*/

.gallery {
  position: relative;
  z-index: 999;
  background-color: white;
}

em {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  margin: 0 0 10px 0;
}

h1 { font-size: 4.8rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.4rem; }
h5 { font-size: 1.8rem; }

@media (max-width: 991px) { /* Tablets */
  h1 { font-size: 3.2rem; }
  h2 { font-size: 2.6rem; }
  h3 { font-size: 2rem; }
  h4 { font-size: 1.6rem; }
  h5 { font-size: 1.2rem; }
}

@media (max-width: 600px) { /* Celular */
  h1 { font-size: 2.2rem; }
  h2 { font-size: 1.8rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.4rem; }
  h5 { font-size: 1.2rem; }
}

.menu {
  position: initial;
  display: block;
  width: calc(100% - 60px);
  font-size: 1rem;
  margin-left: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
  line-height: 3rem;
  height: auto;

}

.menu a {
  font-size: 4rem;
  margin: 0px 0;
  text-transform: none;
  line-height: 1.2;
  display: block;
  padding-top: 5px;
  color: #000;
  border-bottom: #000 solid 1px !important;
  text-decoration: none;
}

.menu-home {
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 3rem;
  text-align: start;
}

.menu-home a {
  font-size: 4rem; /* Tamanho grande da fonte */
  color: white;
  text-transform: none;
  line-height: 1.2;
  padding-top: 5px;
  border-bottom: #fff solid 2px;
  text-decoration: none;
}

.btn-close {
  font-size: 1.5rem;
  color: white !important;
  background: transparent;
  border: none;
  cursor: pointer;
}

.contact-links {
  color: white;
  text-align: center;
}

/* Overlay for fullscreen menu */
.fullscreen-menu-overlay {
  position: fixed;
  bottom: -100%; /* Escondido abaixo da tela inicialmente */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: bottom 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: 1050; /* Sobre o navbar */
}

/* Show overlay when active */
.fullscreen-menu-overlay.active {
  bottom: 0;
  opacity: 1;
}

/* Style the menu content */
.menu-content a {
  font-size: 4rem;
  color: white;
  text-decoration: none;
  display: block;
}

.menu-content .btn-close {
  font-size: 1.5rem;
}


.menu-block {
  margin-bottom: 9rem;
}

.contato {
  margin-left: 2.0rem !important;
}

.graphic_square {
  margin: 0em .5em 1.2em 0em;
  width: 3em;
  height: 1px;
  background-color: #000;
  display: inline-block;
}

.svg-container {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  display: inline-block;
}

.svg-container.fade-in {
  opacity: 1;
}

.txt-animado,
.txt-animado-mobile {
  color: #212529;
  text-transform: capitalize;
}

/* Sobrescrevendo o comportamento do hover do btn-outline-secondary */
.btn-outline-secondary:hover {
  background-color: transparent !important;
  /* Sem preenchimento no hover */
  color: inherit;
  /* Mantém a cor original do texto */
}

/* Estilo personalizado para a troca de texto por SVG */
.btn-hover {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Estilo do texto */
.btn-hover span {
  transition: transform 0.4s ease;
  /* Apenas a transição de transformação */
  opacity: 1;
  /* Mantém a opacidade original do texto */
}

/* Posição inicial do SVG */
.btn-hover svg {
  position: absolute;
  left: 46px;
  /* Inicialmente fora da visão à esquerda */
  opacity: 0;
  /* Torna o SVG invisível por padrão */
  transform: translateX(-8px);
  transition: opacity 0.1s linear;
  /* Transição suave para a opacidade */
  width: 60px;
  height: 60px;
}


/* Animação de hover */
.btn-hover:hover svg {
  opacity: 1;
  /* Torna o SVG visível ao passar o mouse */
  animation: easeInBounce 0.4s forwards;
  /* Animação ao entrar */
}

/* Animação de saída */
.btn-hover.fade-out svg {
  animation: easeOutBounce 1s forwards;
  /* Animação ao sair */
}

/* Definindo os keyframes para o efeito easeInBounce */
@keyframes easeInBounce {
  0% {
    transform: translateX(-30px);
  }

  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(5px);
  }

  90% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0px);
    /* Finaliza o movimento */
  }
}

/* Definindo os keyframes para o efeito easeOutBounce */
@keyframes easeOutBounce {
  0% {
    transform: translateX(0px);
    /* Começa na posição normal */
  }

  60% {
    transform: translateX(-10px);
    /* Leve movimento para a esquerda */
  }

  80% {
    transform: translateX(5px);
    /* Leve movimento para a direita */
  }

  100% {
    transform: translateX(30px);
    /* Finaliza fora da tela */
    opacity: 0;
    /* Torna invisível no final */
  }
}

/* Animação do texto ao passar o mouse */
.btn-hover:hover span {
  transform: translateX(500px);
  /* Move o texto para a esquerda */
  opacity: 1;
  /* Torna o texto invisível ao passar o mouse */

}

/* Restaura a posição original do texto quando não está em hover */
.btn-hover span {
  transform: translateX(0);
  /* Posição original do texto */
  opacity: 1;
  /* Torna o texto visível quando não está em hover */

}

.language-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.language-button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.project-card {
  transition: transform 0.8s;
  border: 2px solid #D9D9D9;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  max-height: 180px;
  object-fit: cover;
  padding: 10px;
  border-radius: 0.8em;
}

.project-card .card-body {
  text-align: center;
}

.project-card a {
  text-decoration: none;
  display: block;
  color: #212529;
}

.project-card .card-title {
  font-weight: bold;
  margin-bottom: 0.0rem;
}

.project-card .card-footer {
  background-color: white;
  border: white;
  text-align: center;
}
.decoration-none a {
  text-decoration: none;
  color: inherit
}

.navbar-toggler {
  border: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  background-size: cover;
  background-position: center;
  filter: none;
  transition: filter 0.8s ease-out; /* Transição suave */
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #ffffff;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #919191;
}

input:not(:checked) + .slider {
  background-image: url('../img/bandeira-pt.png');
}

input:checked + .slider {
  background-image: url('../img/bandeira-en.png');
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider.black-and-white {
  filter: grayscale(100%); /* Aplica escala de cinza total */
}

/* svg menu 


.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#000;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
.ham2 .top {
  stroke-dasharray: 40 121;
}
.ham2 .bottom {
  stroke-dasharray: 40 121;
}
.ham2.active .top {
  stroke-dashoffset: -102px;
}
.ham2.active .bottom {
  stroke-dashoffset: -102px;
}
.ham3 .top {
  stroke-dasharray: 40 130;
}
.ham3 .middle {
  stroke-dasharray: 40 140;
}
.ham3 .bottom {
  stroke-dasharray: 40 205;
}
.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham3.active .middle {
  stroke-dashoffset: -102px;
}
.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}
.ham4 .top {
  stroke-dasharray: 40 121;
}
.ham4 .bottom {
  stroke-dasharray: 40 121;
}
.ham4.active .top {
  stroke-dashoffset: -68px;
}
.ham4.active .bottom {
  stroke-dashoffset: -68px;
}
.ham5 .top {
  stroke-dasharray: 40 82;
}
.ham5 .bottom {
  stroke-dasharray: 40 82;
}
.ham5.active .top {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham5.active .bottom {
  stroke-dasharray: 14 82;
  stroke-dashoffset: -72px;
}
.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
}
.ham7 .top {
  stroke-dasharray: 40 82;
}
.ham7 .middle {
  stroke-dasharray: 40 111;
}
.ham7 .bottom {
  stroke-dasharray: 40 161;
}
.ham7.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}
.ham7.active .middle {
  stroke-dashoffset: 23px;
}
.ham7.active .bottom {
  stroke-dashoffset: -83px;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
*/

.top-title {
  font-size: 120px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 105px;
}

.sidebar-left {
  position: absolute;
  left: -43px; /* Alinha na esquerda */
  top: 90px;
  transform: translateY(-50%) rotate(-90deg); /* Centraliza verticalmente e rotaciona */
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  white-space: nowrap; /* Garante que o texto não quebre */
}
@media screen and (max-width: 767px) {
  .sidebar-left{
  position: absolute;
  left: -50px; /* Alinha na esquerda */
  top: 90px;
  transform: translateY(-50%) rotate(-90deg); /* Centraliza verticalmente e rotaciona */
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  white-space: nowrap; /* Garante que o texto não quebre */
}
}
.name {
  font-size: 19px;
  font-family: Helvetica, Arial, sans-serif;
  white-space: nowrap; /* Impede quebra de linha */
  right: 40px; /* Ajuste para dentro da tela */
}

.margin-title {
  margin-top: 10%;
}

.feature-card {
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.feature-card:hover {
  transform: scale(1.05);
}