        body {
            font-family: 'Cormorant Garamond', serif;
            font-size: 1.2rem;
        }

        .container-fluid img {
            width: 100%;
            height: auto;
        }
        ::selection {
            background-color: #efefef;
            color: #00c3ff;
        }
        .navbar.fixed-left {
            position: fixed;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            z-index: 1;
            font-size: 0.9rem;
        }

        .navbar-nav .nav-item .nav-link {
            padding: 1px 9px;
        }

        .navbar-custom {
            margin-left: 250px;
        }
        .navbar-nav .nav-item:first-child .nav-link {
            font-size: 0.6rem;
        }
        .gallery {
            position: relative;
            z-index: 999;
            background-color: white;
        }
        em {
            font-family: 'Cormorant Garamond', serif;
            font-style: italic;
            font-weight: 400;
        }
        h1 {
            font-family: 'Cormorant Garamond', serif;
            font-weight: 400;
            letter-spacing: -0.1rem;
        }
        @media screen and (max-width: 767px) {
            h1 {
                font-size: 3.2rem;
                letter-spacing: -0.05rem;
            }
        }
        @media screen and (min-width: 768px) {
            h1 {
                font-size: 3.5rem;
                letter-spacing: -0.05rem;
            }
        }

        @media screen and (max-width: 767px) {
            h2 {
                font-size: 2.8rem;
                letter-spacing: -0.05rem;
            }
        }
        @media screen and (min-width: 768px) {
            h2 {
                font-size: 3.0rem;
                letter-spacing: -0.05rem;
            }
        }
        @media screen and (min-width: 768px) {
            h3 {
                font-size: 3.00rem;
            }
        }

        @media screen and (max-width: 767px) {
            h3 {
                font-size: 2.7rem;
            }
        }
        .menu {
            position: initial;
            display: block;
            width: calc(100% - 60px);
            font-size: 1rem;
            margin-left: 30px;
            margin-bottom: 30px;
            text-transform: uppercase;
            line-height: 3rem;
            height: auto;

        }

        .menu a {
            font-size: 4rem;
            margin: 0px 0;
            text-transform: none;
            line-height: 1.2;
            display: block;
            padding-top: 5px;
            color: #000;
            border-bottom: #000 solid 1px !important;
            text-decoration: none;
        }

        .menu-block {
            margin-bottom: 9rem;
        }
        .contato {
            margin-left: 2.0rem !important;
        }

        .graphic_square  {
            margin: 0em .5em 1.2em 0em ;
            width:3em;
            height: 1px;
            background-color: #000;
            display: inline-block;
            }

            .svg-container {
                opacity: 0;
                transition: opacity 2s ease-in-out;
                display: inline-block;
              }
              
              .svg-container.fade-in {
                opacity: 1;
              }
              
              .txt-animado, .txt-animado-mobile {
                color: #212529;
                text-transform: capitalize;
              }
/* Sobrescrevendo o comportamento do hover do btn-outline-secondary */
.btn-outline-secondary:hover {
  background-color: transparent !important; /* Sem preenchimento no hover */
  color: inherit; /* Mantém a cor original do texto */
}

/* Estilo personalizado para a troca de texto por SVG */
.btn-hover {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Estilo do texto */
.btn-hover span {
  transition: transform 0.4s ease; /* Apenas a transição de transformação */
  opacity: 1; /* Mantém a opacidade original do texto */
}
/* Posição inicial do SVG */
.btn-hover svg {
  position: absolute;
  left: 46px; /* Inicialmente fora da visão à esquerda */
          opacity: 0; /* Torna o SVG invisível por padrão */
          transform: translateX(-8px);
          transition: opacity 0.1s linear; /* Transição suave para a opacidade */
          width: 60px;
          height: 60px;
}


      /* Animação de hover */
      .btn-hover:hover svg {
          opacity: 1; /* Torna o SVG visível ao passar o mouse */
          animation: easeInBounce 0.4s forwards; /* Animação ao entrar */
      }

      /* Animação de saída */
      .btn-hover.fade-out svg {
          animation: easeOutBounce 1s forwards; /* Animação ao sair */
      }
      
/* Definindo os keyframes para o efeito easeInBounce */
@keyframes easeInBounce {
    0% {
        transform: translateX(-30px);
    }
    60% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(5px);
    }
    90% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0px); /* Finaliza o movimento */
    }
}

/* Definindo os keyframes para o efeito easeOutBounce */
@keyframes easeOutBounce {
    0% {
        transform: translateX(0px); /* Começa na posição normal */
    }
    60% {
        transform: translateX(-10px); /* Leve movimento para a esquerda */
    }
    80% {
        transform: translateX(5px); /* Leve movimento para a direita */
    }
    100% {
        transform: translateX(30px); /* Finaliza fora da tela */
        opacity: 0; /* Torna invisível no final */
    }
}

/* Animação do texto ao passar o mouse */
.btn-hover:hover span {
  transform: translateX(500px); /* Move o texto para a esquerda */
  opacity: 1; /* Torna o texto invisível ao passar o mouse */
    
}

/* Restaura a posição original do texto quando não está em hover */
.btn-hover span {
  transform: translateX(0); /* Posição original do texto */
  opacity: 1; /* Torna o texto visível quando não está em hover */
    
}
.language-switcher {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.language-switcher button {
    display: flex;
    align-items: center;
}
